/*
---------------------------------------Responsividade------------------------------------------
*/

@media (max-width: 900px) {
    /* header */

    body {
        background-size: cover;
        background-position: center center;
        position: relative;
    }

    header {
        padding: 8px;
    }

    header a {
        display: flex;
        align-items: center;
        padding: 2%;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    nav > a {
        height: 100%;
        padding-left: 50%;
        padding-right: 50%;
    }

    header img {
        width: 20px;
    }

    .logo-titulo {
        font-size: 28px;
        letter-spacing: 2px;
    }

    #menu-burger {
        height: 1.4rem;
        width: 1.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 1rem;
        position: fixed;
        right: 0;
        z-index: 1;
    }

    .burger {
        width: 2, 7rem;
        height: 3px;
        background-color: #2d9eff;
    }

    .nav-hide {
        margin-left: 100%;
    }

    nav {
        height: 100vh;
        width: 100vw;
        top: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: space-evenly;
        align-items: center;
        background-color: black;
        transition: 0.5s;
        margin-left: 0;
    }

    .inicio {
        height: 100vh;
    }

    .container {
        padding-top: 65%;
        padding-left: 5%;
        height: 100vh;
        width: 80%;
    }

    .container .hero-text {
        margin-bottom: 1rem;
        backdrop-filter: blur(10px);
        border-radius: 15px;
        background-color: #101010c7;
    }

    .container .hero-text h1 {
        margin: 2rem 0rem 3rem 1rem;
        font-size: 3rem;
        padding-top: 2rem;
    }

    .container .hero-text p {
        display: none;
    }

    /* Sobre */

    .sobre > h2 {
        margin-bottom: 2%;
    }

    .sobre > article {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sobre > article > img {
        max-width: 70%;
        margin: 5%;
    }

    .sobre-mim {
        width: 100%;
    }

    /* tecnologias */

    .tecnologias > article {
        padding: 5px;
        flex-direction: column;
    }

    .tecnologias h2 {
        font-size: 2em;
        margin-top: 2rem;
    }

    .tecnologias-icons {
        width: 98%;
        padding: 0.1rem 0;
    }

    .titulos-icons {
        display: none;
    }

    .icons {
        margin: 3px 3px;
        width: 60px;
    }

    .vasio {
        height: 400px;
    }

    /* galeria */
    .arrow-left,
    .arrow-right {
        display: none;
    }

    /* projetos */
    .projetos {
        height: 100%;
    }

    .projetos > h2 {
        top: 0.2rem;
    }

    .projeto-card {
        width: 15rem;
        height: 25rem;
    }

    .projeto-card img {
        margin-top: -40px;
        transform: scale(0.8);
    }

    .projeto-card p {
        margin-top: -30px;
        font-weight: normal;
    }

    .projeto-card:hover {
        margin: 5% 1%;
    }

    .social a {
        width: 40px;
        height: 40px;
        margin: 15px 4.5px;
    }
}
